/* ==================================================
Global Imports
================================================== */
/* --------------------------------------------------
Base Imports
-------------------------------------------------- */
/* Base Styles */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700,900,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,300italic,700italic);
body {
  width: 100%;
  height: 100%;
  line-height: 24px;
  color: #6a6a6a;
  font-size: 13px;
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  letter-spacing: 1px; }

html {
  width: 100%;
  height: 100%; }

p {
  line-height: 26px;
  font-size: 13px;
  font-weight: 400;
  color: #666; }

img {
  height: auto;
  max-width: 100%;
  border: none;
  outline: none;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }

iframe,
audio {
  width: 100%;
  height: auto;
  border: none; }

ul, li {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.parallax-overlay.white-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%; }
.parallax-overlay.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; }

.no-padding {
  padding: 0; }

.dark-bg {
  background: #323232;
  color: #fff; }

/* Links */
a {
  cursor: pointer;
  text-decoration: none;
  color: #323232;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  outline: none; }
  a:hover {
    color: #80ffbf;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s; }
  a:focus {
    outline: none;
    outline-offset: 0; }
  a:link, a:visited {
    text-decoration: none; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #2a2a2a;
  text-transform: capitalize;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px; }

h1 {
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 40px;
  font-weight: 900; }

h2 {
  font-size: 27px;
  line-height: 37px; }

h3 {
  font-size: 21px;
  line-height: 32px; }

h4 {
  font-size: 17px;
  line-height: 28px; }

h5 {
  font-size: 15px;
  line-height: 23px; }

h6 {
  font-size: 14px;
  line-height: 18px; }

/* --------------------------------------------------
Layout Imports
 -------------------------------------------------- */
/* Navbar */
.header3 {
  background: #fff;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-top: 30px; }

ul.navbar-nav > li > a {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 20px;
  padding-bottom: 25px;
  color: #323232;
  padding-right: 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.header3 ul.navbar-nav > li:last-child a {
  margin-right: 45px;
  overflow: hidden; }

.nav > li > a:focus, .nav > li > a:hover {
  background: transparent;
  color: #80ffbf;
  border-top: 1px solid #80ffbf;
  border-bottom: 1px solid #80ffbf; }

.navbar-brand {
  height: auto;
  padding: 6px 15px; }

/* Home */
#home-section {
  background: url("../images/bg/textures.jpg");
  background-size: 80%;
  position: relative;
  overflow: hidden; }

.slider-caption {
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0px 160px;
  width: 70%; }
  .slider-caption h2 {
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 4px; }
  .slider-caption p {
    margin: 10px auto;
    width: 70%;
    font-family: "lora",serif;
    font-style: italic;
    font-size: 15px; }
    .slider-caption p.subtitle {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px; }
  .slider-caption a.btn {
    margin: 0px 6px; }

.inner-content {
  background: rgba(255, 255, 255, 0.5);
  padding: 50px 0px;
  -webkit-box-shadow: 0px 0px 4px #c9c9c9;
  box-shadow: 0px 0px 4px #c9c9c9; }

/* Header */
.section-heading {
  margin-bottom: 80px;
  padding-top: 80px;
  position: relative; }
  .section-heading p {
    font-family: 'PT Serif',serif;
    font-style: italic;
    text-transform: lowercase;
    font-size: 18px; }

.section-padding {
  padding: 80px 0px; }

/* About Me */
/* Title */
.section-head {
  padding: 90px 0px;
  background: rgba(255, 255, 255, 0.8); }
  .section-head h2 {
    color: #323232;
    font-size: 40px;
    position: relative;
    line-height: 50px;
    margin: 0 auto 30px;
    width: 30%;
    padding: 15px 0px;
    border-left: 4px solid #80ffbf;
    border-right: 4px solid #80ffbf; }
    .section-head h2:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;
      background: #80ffbf;
      top: 0px;
      left: 0;
      margin: 0 auto; }
    .section-head h2:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;
      background: #80ffbf;
      bottom: 0px;
      right: 0; }
    .section-head h2:after, .section-head h2:before {
      -webkit-transition: all 2s ease 0s;
      -o-transition: all 2s ease 0s;
      transition: all 2s ease 0s; }
  .section-head:hover h2:after, .section-head:hover h2:before {
    width: 100%; }

.head-subtitle {
  font-family: "Raleway",sans-serif;
  color: #323232;
  letter-spacing: 5px;
  font-size: 20px; }

/* Content */
#section-about {
  background: #F9F9F9;
  padding: 70px 0px; }

.about-inner i {
  width: 55px;
  height: 55px;
  font-size: 28px;
  line-height: 30px;
  border: 3px solid #444;
  display: inline-block;
  text-align: center;
  color: #80ffbf;
  padding-top: 10px;
  float: left;
  margin-right: 30px; }
.about-inner h3 {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px; }
.about-inner p {
  display: block;
  margin-top: 25px; }

.top {
  margin-bottom: 100px; }

#penguin {
  position: relative;
  margin-top: -200px;
  width: 70%;
  left: 150px; }

/* Experience */
.experience-inner h3 {
  margin-top: 12px;
  position: relative;
  margin-bottom: 10px; }
  .experience-inner h3:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 0px;
    bottom: 0px; }

.panel {
  background: transparent;
  border: 0px;
  box-shadow: none; }
  .panel-default > .panel-heading {
    border: 0px;
    background: transparent; }
  .panel-group .panel {
    margin-bottom: 30px; }
  .panel-group, .panel-title {
    position: relative; }
  .panel-title a:before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    background: #999;
    border-radius: 100%;
    top: -10px;
    left: 0px;
    z-index: 3;
    border: 3px solid #80ffbf; }
  .panel-group:after {
    position: absolute;
    content: "";
    width: 2px;
    background: #777;
    top: 10px;
    left: 37px;
    height: 90%;
    z-index: 1; }
  .panel-title a, .panel-body {
    margin-left: 70px; }
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px;
    margin-bottom: 10px; }
  .panel-title a {
    color: #80ffbf; }
    .panel-title a:before {
      background: #80ffbf; }
    .panel-title a.collapsed {
      color: #323232; }
      .panel-title a.collapsed::before {
        background: #fff; }

/* Technologies */
/* Title */
/* Content */
.technologies-inner {
  text-align: center;
  padding: 30px 0px; }
  .technologies-inner i {
    font-size: 60px;
    color: #ddd; }
  .technologies-inner h2 {
    letter-spacing: 3px;
    margin: 15px 0px; }
  .technologies-inner p {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 16px;
    margin: 25px 0px; }
    .technologies-inner p span {
      padding: 7px 10px; }

.fa-check-circle-o:before,
.fa-picture-o:before,
.fa-table:before,
.icon-microphone:before,
.icon-diamond:before,
.fa-paint-brush:before {
  color: #80ffbf; }

/* Portfolio */
/* Title */
/* Content */
.mb {
  margin-bottom: 30px; }

.port-6 {
  position: relative;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }
  .port-6 .hover-effect {
    left: -60px;
    padding: 70px 70px; }
    .port-6 .hover-effect h4 {
      font-size: 16px;
      letter-spacing: 0px; }
  .port-6:hover .hover-effect {
    opacity: 1;
    left: 0px; }

.hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  top: 0px;
  opacity: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }
  .hover-effect p {
    margin: 10px 0px 30px; }
  .hover-effect .btn-primary.black {
    border-radius: 25px; }
  .hover-effect h4 {
    font-size: 20px;
    letter-spacing: 4px; }

.port-3 .hover-effect {
  left: 0px;
  top: -60px;
  padding: 30px; }
.port-3:hover .hover-effect {
  opacity: 1;
  top: 0px; }

.hover-icon:hover i {
  background: #444;
  color: #fff; }
.hover-icon i {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 2px solid #444;
  padding-top: 15px;
  display: block;
  font-size: 30px;
  margin: 0 auto;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }

#portfolio {
  border-style: solid; }

/* Contact */
/* Title */
/* Content */
.contact-info {
  background: #fff;
  padding: 35px 30px;
  border-radius: 3px;
  box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.15); }
  .contact-info ul li {
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    margin-bottom: 30px; }

.contact-socail a {
  border: 1px solid #ddd;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  background: #ddd;
  border-radius: 3px; }

#details {
  margin-top: 30px; }

#letter {
  position: absolute;
  margin-left: 150px; }

#section-about-head, #section-technologies-head, #section-portfolio-head, #section-contact-head {
  background: url("../images/bg/grid.png") fixed 50% 50%;
  background-size: cover;
  position: relative; }

/* --------------------------------------------------
 Components Imports
-------------------------------------------------- */
/* Buttons */
.btn {
  padding: 14px 30px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .btn-primary {
    border: 3px solid #80ffbf;
    background: #80ffbf;
    color: #fff;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    .btn-primary:hover {
      background: #2A2A2A;
      border-color: #2A2A2A;
      color: #fff; }
    .btn-primary.grey {
      border-color: #ddd;
      background: transparent;
      color: #232323;
      padding: 12px 40px;
      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s; }
      .btn-primary.grey:hover {
        background: #2A2A2A;
        color: #fff;
        border-color: #eee; }
    .btn-primary.feature {
      background: #80ffbf;
      color: #fff;
      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;
      padding: 12px 40px;
      border: 2px solid #80ffbf; }
      .btn-primary.feature:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #2A2A2A; }
    .btn-primary.black {
      background: #2A2A2A;
      border-color: #2A2A2A;
      color: #fff;
      padding: 12px 40px;
      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s; }
      .btn-primary.black:hover {
        border-color: #333;
        background: #fff;
        color: #2A2A2A; }

/* Typography */
@font-face {
  font-family: "Simple-Line-Icons";
  src: url("../fonts/Simple-Line-Icons.eot");
  src: url("../fonts/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.woff") format("woff"), url("../fonts/Simple-Line-Icons.ttf") format("truetype"), url("../fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Media Queries */
@media (max-width: 480px) {
  #home-section {
    background: url("../images/bg/textures.jpg");
    background-size: 250%;
    position: relative;
    overflow: hidden; }

  #description {
    display: none; }

  #title {
    font-size: 15px; }

  #penguin {
    display: none; }

  #history {
    margin-bottom: -3em;
    margin-top: -3em; }

  .about-inner {
    margin-bottom: 3em; } }

/*# sourceMappingURL=application.css.map */
