@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700,900,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,300italic,700italic);

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #6a6a6a;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("../images/bg/background.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    background-position: center;
}

.shape-one {
    opacity: 0.9;
    z-index: 1;
    float: right;
    left: -30px;
    top: 100px;
}

.shape-two {
    position: absolute;
    bottom: 20px;
}

.header-container {
    z-index: 2;
    position: relative;
    top: 250px;
    background-image: url("../images/copy/header-2.png");
    height: 150px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.icon {
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.github {
    margin-right: 5px;
    margin-left: 0px;
    width: 40px;
}

.message {
    width: 40px;
    margin-top: 10px;
}

.linkedin {
    margin-top: 5px;
    margin-right: 2px;
}

.dribbble {
    margin-top: 6px
}

.icons-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 0;
}

.gif {
    height: 250px;
    position: relative;
    z-index: 2;
}

@media (max-width: 321px) {
    .header-container {
        width: 290px;
    }

    .icons-container {
        right: 0;
    }

    .gif {
        height: 200px;
        bottom: 60px;
    }

}

@media (min-width: 321px) and (max-width: 415px) {
    .header-container {
        width: 300px;
    }

    .icons-container {
        right: 0;
    }

    .gif {
        bottom: 20px;
    }
}
