/* Media Queries */

@media ('max-width: 480px'){

  #home-section {
      background: url("../images/bg/textures.jpg");
      background-size: 250%;
      position: relative;
      overflow: hidden;
  }

  #description {
    display: none;
  }

  #title {
    font-size: 15px;
  }

  #penguin{
    display: none;
  }

  #history {
    margin-bottom: -3em;
    margin-top: -3em;
  }

  #web {
    display: none;
  }

  #education {
    margin-left: 0px;
  }

  #education-img,
  #experience-img {
    display: none;
  }

  #mobile {
    display: inline;
  }

  .accordian,
  .technologies-inner {
    margin-top: -3em;
  }

  .about-inner {
    margin-bottom: 3em;
  }

  .experience-inner {
    margin-top: -9em;
  }

  #letter {
    display: none;
  }

  .contact-info {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }


}

@media ('min-width: 992px'){

}

@media ('min-width: 1200px'){

}
