/* About Me */

/* Title */

#section-about-head{
@extend %header;
}

.section-head {
  padding: 90px 0px;
  background: rgba($white,.8);

  h2 {
      color: $color-text-header;
      font-size: 40px;
      position: relative;
      line-height: 50px;
      margin: 0 auto 30px;
      width: 30%;
      padding: 15px 0px;
      border-left: 4px solid $color-primary;
      border-right: 4px solid $color-primary;

    &:before {
      content:"";
      position: absolute;
      width: 50px;
      height: 4px;
      background: $color-primary;
      top: 0px;
      left: 0;
      margin: 0 auto;
    }

    &:after {
      content:"";
      position: absolute;
      width: 50px;
      height: 4px;
      background: $color-primary;
      bottom: 0px;
      right: 0;
    }
    &:after,
    &:before{
      -webkit-transition: all 2s ease 0s;
      -o-transition: all 2s ease 0s;
      transition: all 2s ease 0s;
    }
  }

  &:hover h2:after,
  &:hover h2:before {
    width: 100%;
  }
}

.head-subtitle{
  font-family: "Raleway",sans-serif;
  color: $color-text-header;
  letter-spacing: 5px;
  font-size: 20px;
}
/* Content */

#section-about{
    background: #F9F9F9;
    padding: 70px 0px;
}

.about-inner {
  i {
    width: 55px;
    height: 55px;
    font-size: 28px;
    line-height: 30px;
    border: 3px solid $color-border;
    display: inline-block;
    text-align: center;
    color: $color-primary;
    padding-top: 10px;
    float: left;
    margin-right: 30px;
  }

  h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
  }
  p {
    display: block;
    margin-top: 25px;
  }
}

.top {
  margin-bottom: 100px;
}
#penguin {
  position: relative;
  margin-top: -200px;
  width: 70%;
  left: 150px;
}
