/* Experience */

.experience-inner {
  h3 {
    margin-top: 12px;
    position: relative;
    margin-bottom: 10px;

    &:before {
      position: absolute;
      content:"";
      width: 30px;
      height: 2px;
      left: 0px;
      bottom: 0px;
    }
  }
}

.panel {
  background: transparent;
  border: 0px;
  box-shadow: none;

  &-default > &-heading {
    border: 0px;
    background: transparent;
  }

  &-group & {
    margin-bottom: 30px;
  }

  &-group,
  &-title {
    position: relative;
  }

  &-title a:before{
    position: absolute;
    content:"";
    width: 45px;
    height: 45px;
    background: $dusty-grey;
    border-radius: 100%;
    top: -10px;
    left: 0px;
    z-index: 3;
    border: 3px solid $color-primary;
  }
  &-group:after{
    position: absolute;
    content:"";
    width: 2px;
    background: $boulder;
    top: 10px;
    left: 37px;
    height:90%;
    z-index: 1;
  }

  &-title a,
  &-body{
    margin-left: 70px;
  }

  &-group &-heading + &-collapse > &-body {
    border-top: 0px;
    margin-bottom: 10px;
  }
  &-title a {
    color: $color-primary;

    &:before {
      background:$color-primary;
    }

    &.collapsed {
      color:$color-text-header;

      &::before {
        background:$white;
      }
    }
  }
}

#mobile {
  display: none;
}

#education {
  margin-left: 40px;
}
