/* Buttons */

.btn{
    padding: 14px 30px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &-primary {
      border:3px solid#80ffbf;
      background: #80ffbf;
      color:#fff ;
      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;

      &:hover {
        background:#2A2A2A;
        border-color:#2A2A2A;
        color: #fff;
      }

      &.grey {
        border-color:#ddd;
        background: transparent;
        color: #232323;
        padding: 12px 40px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;

        &:hover {
          background: #2A2A2A;
          color: #fff;
          border-color: #eee;
        }
      }

      &.feature {
        background: #80ffbf;
        color:#fff ;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        padding: 12px 40px;
        border: 2px solid#80ffbf;

        &:hover {
          background:#fff;
          border: 2px solid#fff;
          color: #2A2A2A;
        }
      }

      &.black {
        background:#2A2A2A;
        border-color:#2A2A2A;
        color: #fff;
        padding: 12px 40px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;

        &:hover {
          border-color: #333;
          background: #fff;
          color:#2A2A2A;
        }
      }
    }
}
