// Descriptive colour variables

$white      : #fff;
$black      : #000;
$dove-grey  : #6a6a6a;
$storm-dust : #666;
$mine-shaft : #323232;
$aquamarine : #80ffbf;
$silver     : #c9c9c9;
$alabaster  : #F9F9F9;
$tundora    : #444;
$dusty-grey : #999;
$boulder    : #777;
$alto       : #ddd;

// Functional colour variables

$color-primary      : $aquamarine;
$color-text         : $dove-grey;
$color-text-header  : $mine-shaft;
$color-border       : $tundora;


// Asset paths
$path-font  : '../fonts'
